git+https://github.com/python/mypy.git@master
"axios": "^0.21.1",
"bootstrap-vue": "^2.21.2",
"core-js": "^3.6.5",
"element-ui": "^2.15.3",
"vue": "^2.6.11",
"vue-router": "^3.2.0",
"vuex": "^3.4.0"
typed-ast==1.4.1
black==19.3b0
Django==3.1.7
flake8==3.7.8
